<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxb.dao.mapper.ProductStockEntityMapper">

  <resultMap id="BaseResultMap" type="com.hxb.dao.entity.ProductStockEntity">
    <id column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <sql id="Base_Column_List">
    product_id,
    amount,
    create_time,
    modify_time
  </sql>

  <!--   根据产品id查询产品库存信息   -->
  <select id="queryByProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
      <include refid="Base_Column_List" />
    from
      t_product_stock
    where
      product_id = #{productId,jdbcType=BIGINT}
  </select>

  <!--   新增产品库存记录   -->
  <insert id="insert" parameterType="com.hxb.dao.entity.ProductStockEntity">
    insert into t_product_stock (
      product_id,
      amount,
      create_time,
      modify_time)
    values (
      #{productId,jdbcType=BIGINT},
      #{amount,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP},
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>

    <!--   通过产品id修改非空字段   -->
  <update id="updateByProductIdSelective" parameterType="com.hxb.dao.entity.ProductStockEntity">
    update t_product_stock
    <set>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>