<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxb.dao.mapper.UserEntityMapper">

  <resultMap id="BaseResultMap" type="com.hxb.dao.entity.UserEntity">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id,
    user_name,
    create_time,
    password, modify_time
  </sql>

    <!--   根据用户id查询用户信息   -->
  <select id="queryByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
      <include refid="Base_Column_List" />
    from
      t_user
    where
      user_id = #{userId,jdbcType=BIGINT}
  </select>

    <!--   新增用户  -->
  <insert id="insert" parameterType="com.hxb.dao.entity.UserEntity">
    insert into t_user (
      user_id,
      user_name,
      create_time,
      password,
      modify_time)
    values (
    #{userId,jdbcType=BIGINT},
    #{userName,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{password,jdbcType=VARCHAR},
    #{modifyTime,jdbcType=TIMESTAMP})
  </insert>

    <!--   通过用户id修改非空字段   -->
  <update id="updateByUserIdSelective" parameterType="com.hxb.dao.entity.UserEntity">
    update t_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>